@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 700;
  line-height: normal;
}

p {
  color: $Black;
}

.container {
  padding: 0 2rem;
  // max-width: 1110px;
  // margin: auto;
  // text-align: center;
  // width: 80%;
}
