header {
  @include flex-center;
  min-height: 7rem;

  // NAV ITEM

  nav {
    display: none;
  }

  nav.show-nav {
    display: block;
    position: fixed;
    height: 100vh;
    inset: 0;
    width: 70%;
    background: $White;
    z-index: 5;

    ul {
      margin-top: 10rem;
      padding-left: 2rem;

      li {
        margin-bottom: 2rem;
      }

      a {
        color: $Black;
        font-weight: 700;
      }

      a:hover {
        color: $Very-dark-blue;
      }
    }
  }

  // HAMBURGER MENU
  .hamburger {
    cursor: pointer;
    margin-right: 1.5rem;
    z-index: 10;

    img {
      display: none;
    }
    // TOOGLE TO SHOW OR CLOSE THE NAV MENU
    .show-nav {
      display: block;
    }
  }

  // PROFILE IMAGE AND THE CART CONTAINER
  .user_profile {
    margin-left: auto;
    @include flex-center;

    img {
      cursor: pointer;
    }

    .cart__icon__wrapper {
      position: relative;

      .product__quantity__tooltip {
        position: absolute;
        top: -35%;
        right: -30%;
        padding: 0.01rem 0.5rem;
        border-radius: 100%;
        font-size: 1.1rem;
        background-color: $Orange;
        color: $White;
        font-weight: 700;
        visibility: hidden;
      }
    }

    .profile-img {
      height: 3rem;
      width: 3rem;
      margin-left: 2rem;
      border-radius: 100%;
    }

    .profile-img:hover {
      border: 0.2rem solid $Orange;
    }

    .cart__items {
      position: absolute;
      inset: 0;
      top: -15%;
      z-index: 20;
      font-weight: 700;
      height: 26rem;
      width: 92%;
      margin: auto;
      background-color: $White;
      border-radius: 8px;
      box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.45);
      -webkit-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.45);
      display: none;

      h2 {
        border-bottom: 1px solid $Grayish-blue;
        padding: 1.5rem 2rem;
      }

      p {
        @include flex-center;
        height: 70%;
      }

      .cart__item__container {
        @include flex-center;
        align-items: stretch;
        flex-direction: column;
        height: 70%;
      }

      .cart__item__details {
        margin: 2.5rem auto;

        .item__details {
          display: flex;
          align-items: center;
          padding: 0 1.5rem;

          .item__img {
            width: 15%;
            border-radius: 5px;
          }

          .item__name {
            margin-left: 1rem;
            text-align: left;

            p {
              font-weight: 400;
            }

            span:not(:last-child) {
              color: $Black;
              margin-right: 0.2rem;
              font-weight: 400;
            }
          }
          .delete-icon {
            margin-left: auto;
          }
        }
      }

      .checkout-btn {
        padding: 0 1.7rem;

        button {
          width: 100%;
          padding: 1.8rem 2rem;
          font-size: 1.7rem;
          font-weight: 700;
          background-color: $Orange;
          color: $White;
          border: none;
          outline: none;
          border-radius: 10px;
        }
      }
    }

    .show-cart {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .user_profile {
      .cart__items {
        width: 60%;
        top: -32%;
        right: -35%;
      }
    }
  }
}

// MEDIA QUERY FOR HEADER
@media screen and (min-width: 1024px) {
  header {
    min-height: 9rem;
    position: relative;
    border-bottom: 1px solid $Grayish-blue;

    nav {
      @include flex-center;
      margin-left: 4.6rem;
      ul {
        @include flex-center;
        align-items: flex-start;
      }

      li {
        margin-left: 3rem;

        a {
          color: $Black;
        }

        a:hover {
          color: $Very-dark-blue;
        }
      }
    }
    .hamburger {
      display: none;
    }

    .user_profile {
      .cart__items {
        width: 35%;
        top: 200%;
        bottom: -190%;
        right: -60%;
      }
    }
  }
}
