.product {
  // PRODUCT IMAGES
  .image__wrapper {
    position: relative;
    img {
      display: none;
    }

    .show-image {
      display: block;
    }
  }

  // HIDE THE THUMBNAIL IMAGES FOR MOBILE
  &__image__thumbnail {
    display: none;
  }

  .prev__next__btn {
    .prev,
    .next {
      position: absolute;
      padding: 1.2rem 1.5rem;
      border-radius: 100%;
      background-color: $White;
      margin: 0 2rem;
      top: 45%;
      cursor: pointer;
    }
    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }
  }

  // PRODUCT INFORMATION OR PRODUCT DETAILS

  &__details {
    margin: 2.5rem 0;
    padding-bottom: 5rem;

    // COMPANY NAME
    h2 {
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      letter-spacing: 0.2rem;
      color: $Orange;
    }

    // PRODUCT NAME
    h1 {
      margin-bottom: 1.5rem;
      font-size: 3rem;
      width: 90%;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .product__price {
      @include flex-center;
      margin-bottom: 1.5rem;

      span,
      strong {
        display: block;
        font-weight: 700;
      }
      strong {
        margin-right: 2rem;
        font-size: 3rem;
      }

      .discount__percent {
        background: $Pale-orange;
        padding: 0.2rem 1rem;
        border-radius: 0.5rem;
        color: $Orange;
      }
      .normal__price {
        margin-left: auto;
        color: $Black;
      }
    }

    // THE PLUS AND MINUS BUTTON TO INCREASE OR DECREASE PRODUCT QUANTITY

    .product__quantity {
      @include flex-center;
      margin-bottom: 1.5rem;
      // border: 1px solid black;

      button {
        display: inline-block;
        padding: 1rem 2rem;
        border: none;
        background-color: $Light-grayish-blue;
        height: 5rem;
        width: 100%;
        @include flex-center;
      }

      button:first-child {
        border-radius: 10px 0 0 10px;
      }
      button:last-child {
        border-radius: 0 10px 10px 0;
      }

      button:nth-child(2) {
        font-size: 1.7rem;
        font-weight: 700;
        cursor: not-allowed;
      }

      button:first-child,
      button:nth-child(2) {
        border-right: none;
      }
      button:nth-child(2),
      button:last-child {
        border-left: none;
      }
    }

    .btn__add__to__cart {
      width: 100%;
      padding: 1.7rem 0;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      background: $Orange;
      color: $White;
      border: none;
      border-radius: 10px;
    }

    .cart_img {
      display: inline-block;
      mask: url("/images/icon-cart.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background: $White;
      height: 2rem;
      width: 3rem;
      margin-right: 0.9rem;
    }
  }
}

/// MEDIA QUERY

@media screen and (min-width: 1024px) {
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11.8rem;
    max-width: 1016px;
    padding: 7rem 4.8rem;
    margin: auto;

    .image__wrapper {
      margin-bottom: 2.5rem;
      img {
        width: 100%;
        border-radius: 1rem;
        min-height: 40.46rem;
      }
    }

    &__image__thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        cursor: pointer;
        border-radius: 1rem;
        width: 23%;
      }

      img:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .prev__next__btn {
      display: none;
    }

    // PRODUCT DETAILS MEDIA QUERY

    &__details {
      .product__price {
        display: block;
        margin-bottom: 3rem;
        .discount__percent,
        .discount__price {
          display: inline-block;
        }
        .normal__price {
          display: block;
        }
      }

      .product__quantity {
        align-self: center;
        flex: 1;
        margin-bottom: 0;
        margin-right: 1rem;

        button {
          height: 5rem;
        }
      }
      .cart {
        @include flex-center;

        .btn__add__to__cart {
          flex: 1.5;
          padding: 1.2rem 0;
          font-size: 1.6rem;
        }

        .cart_img {
          height: 1.5rem;
          mask-size: contain;
        }
      }
    }
  }
}
