.product {
  .image__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 100%);
  }

  .prev__next__btn {
    .prev,
    .next {
      position: absolute;
      border: 1px solid white;
      padding: 1.2rem 1.5rem;
      border-radius: 100%;
      background-color: $White;
      margin: 0 2rem;
      top: 45%;
    }
    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }
  }

  &__image__thumbnail {
    display: none;
  }

  // PRODUCT INFORMATION OR PRODUCT DETAILS

  &__details {
    margin: 2.5rem 0;
    padding-bottom: 5rem;

    // COMPANY NAME
    h2 {
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      letter-spacing: 0.2rem;
      color: $Orange;
    }

    // PRODUCT NAME
    h1 {
      margin-bottom: 1.5rem;
      font-size: 3rem;
      width: 90%;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .product__price {
      @include flex-center;
      margin-bottom: 1.5rem;

      span,
      strong {
        display: block;
        font-weight: 700;
      }
      strong {
        margin-right: 2rem;
        font-size: 3rem;
      }

      .discount__percent {
        background: $Pale-orange;
        padding: 0.2rem 1rem;
        border-radius: 0.5rem;
        color: $Orange;
      }
      .normal__price {
        margin-left: auto;
        color: $Black;
      }
    }

    // THE PLUS AND MINUS BUTTON TO INCREASE OR DECREASE PRODUCT QUANTITY

    .product__quantity {
      @include flex-center;
      margin-bottom: 1.5rem;
      button {
        flex: 1;
        @include flex-center;
        border: none;
        background: $Light-grayish-blue;
        height: 5.5rem;
      }

      button:first-child {
        border-radius: 10px 0 0 10px;
      }
      button:last-child {
        border-radius: 0 10px 10px 0;
      }

      button:nth-child(2) {
        font-size: 1.8rem;
        font-weight: 700;
      }

      button:first-child,
      button:last-child {
        cursor: pointer;
      }

      button:first-child,
      button:nth-child(2) {
        border-right: none;
      }
      button:nth-child(2),
      button:last-child {
        border-left: none;
      }
    }

    .btn__add__to__cart {
      width: 100%;
      padding: 1.7rem 0;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      background: $Orange;
      color: $White;
      border: none;
      border-radius: 10px;
    }

    .cart_img {
      display: inline-block;
      mask: url("/images/icon-cart.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      background: $White;
      height: 2rem;
      width: 3rem;
      margin-right: 0.9rem;
    }
  }
}
